<div class="container-fluid d-flew flex-row">
    <div class="row row-cols-3 justify-content-between text-center">
        <ng-container *ngFor="let productItem of products">
            <div class="product bg-dark my-4">
                <div class="item imgArt">
                    <img [src]="productItem.imageUrl" width="300px" [routerLink]="['/singleproduct', productItem.id]">>
                </div>
                <div class="item py-3">
                    <h5 class="card-title text-white">{{ productItem.Nom_A | uppercase }}</h5>
                    <h5 class="card-price text-white">{{ productItem.Prix | currency: "EUR" }}</h5>
                </div>
                <app-button cls="btn-reg m-2" text="Ajouer au panier" class="w-100" (click)="addToPanier(productItem)"></app-button>
            </div>
        </ng-container>
    </div>
</div>