<div class="container-fluid">
    <img src="https://i.postimg.cc/8CfmRYXZ/bg-1.jpg" width="100%" height="auto">
</div>
<div class="container-fluid d-flex justify-content-between pt-2 align-items-center filtre">
    <div class="item">
        <h1>Products</h1>
    </div>
    <div class="item d-flex gap-5">
        <div class="price">
            prix
        </div>
        <div class="univer">
            univer
        </div>
        <div class="couleur">
            couleur
        </div>
    </div>
</div>
<app-products></app-products>