<footer class="trasnlasteObserver translateYanimeOUI">
    <div class="containeur-footer">
        <div class="foot_sayna-contsayna">
            <div class="Pzoom">
                <div class="saynalogo">
                    <img src="../../../assets/IllustrationsLogo/Allpages/icon_SAYNA.png" alt="">
                    <img src="../../../assets/IllustrationsLogo/Allpages/icon_x.png" alt="">
                    <img src="../../../assets/IllustrationsLogo/Allpages/icon_MARVEL.png" alt="">
                </div>
            </div>

        </div>
        <div class="foot_sayna-foot">
            <div class="align_foot">
                <div class="ajust-contenu1 ">
                    <div class="nav-footer">
                        <h1>PAGES</h1>
                        <h3><a>A propos</a> </h3>
                        <h2><a>Wankanda</a> </h2>
                    </div>
                    <div class="nav-footer">
                        <h1>RETROUVEZ NOUS</h1>
                        <DIV class="grp-btn">
                            <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/footer3.png" alt="Logo facebook">
                            </a>
                            <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/footer4.png" alt="Logo instagram">
                            </a>
                            <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/footer5.png" alt="Logo twitter">
                            </a>
                            <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/footer6.png" alt="">
                            </a>
                        </DIV>
                    </div>
                </div>
                <div class="ajust-contenu1">
                    <p> 2022 Tous droits réservés Politique de confidentialité Conditions d’utilisation
                    </p>
                </div>
            </div>

        </div>

    </div>


</footer>