<!-- section milaje -->
<div class="milaje">
    <div class="presentation caherOUIright">
        <h1>Releve le defi des dora milaje</h1>
        <div class="text-enarc">
            <div class="containeurp">
                <p>Les Dora Milaje sont de farouches guerrières d’élite. Elles constituent la garde rapprochée du Roi en personne et ont de nombreuses occasions de lui sauver la vie. Leur Générale, Okoyé est également la dirigeante des forces armées et des
                    renseignements wakandais. Prouve ton talent d’espion et déchiffre cette réplique d’Okoyé écrite en Wakandais, et apprend par la même occasion la première valeur d’une Dora Milaje !
                </p>
            </div>
            <div class="containeurlogI">
                <div class="cont">
                    <div class="blocBP">
                        <img src="" alt="" width="100%" height="auto">
                    </div>
                    <div class="bande borderGradienBand">

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- section 2eme -->
<div class="suite">
    <div class="allcontent content1 caherOUIleft">
        <h1 class="level">ENIGME NUMERO <span class="levelup">1</span></h1>
        <p class="enonce">Prouve ton talent d’espion et déchiffre cette réplique d’Okoyé écrite en Wakandais, et apprend par la même occasion la première valeur d’une Dora Milaje !</p>
        <p class="enonce2 violet"><span>" SI JE SUIS FIDELE C’EST  A  CE  TRONE  PEU  IMPORTE  QUI  MONTE  DESSUS  ”</span></p>
        <form action="" class="valideReponse">
            <label for="reponse">Alors, as-tu la réponse</label>
            <input type="text" id="reponse">
            <button class="btn-envoyer">ENVOYEZ</button>
        </form>
    </div>
    <div class="allcontent content2 caherOUIright">
        <div class="content2-bloc">
            <p class="content2-item">Voici la traduction: <br> A = <span>A</span>; B = <span>b</span> ; c = <span>c</span> ; d = <span>d</span> ; e = <span>e</span> ; f = <span>f</span> ; g = <span>g</span> ; h = <span>h</span> ; i = <span>i</span> ; j = j ; k = <span>k</span>                ; l = <span>l</span> ; m = <span>m</span> ; n = <span>n</span> ; o = <span>o</span> ; p = <span>p</span> ; q = <span>q</span> ; r = <span>r</span> ; s = <span>s</span> ; t = <span>t</span> ; u = <span>u</span> ; w = <span>w</span> ; x
                = <span>x</span> ; y = <span>y</span>z = <span>z</span></p>
        </div>
    </div>

</div>