<div class="container mt-5">
    <div class="w-90">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/eshop">eshop</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" routerLink="/cart">
                    <a routerLink="/panier">Récaputilatif de commande</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" routerLink="/cart">
                    Commande
                </li>
            </ol>
        </nav>
    </div>
</div>
<app-product-order></app-product-order>
<div class="px-2 pb-4">
    <div class="d-flex justify-content-center gap-5">
        <app-button cls="btn btn-secondary" routerLink="/eshop" text="RETOURNER VERS LA CATALOGUE"></app-button>
        <button class="btn btn-success" data-bs-toggle="modal" data-bs-target="#exampleModal">CONTINUER VERS LE PAYEMENT</button>
    </div>
</div>
<app-mode-achat></app-mode-achat>