<div class="container mt-5">
    <div class="w-90">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a routerLink="/eshop">eshop</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" routerLink="/cart">
                    <a routerLink="/panier">panier</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page" routerLink="/cart">
                    Commande
                </li>
            </ol>
        </nav>
    </div>
</div>
<section>
    <div class="container">
        <div class="w-90 bg-violet">
            <h1 class="text-center">Passer votre commande ici</h1>
            <div class="all m-auto" style="width:90%">
                <ng-container *ngFor="let productItem of product">
                    <div class="producAdded row mx-0 my-3 border">
                        <div class="imgProd">
                            <img [src]="productItem.imageUrl" alt="" width="100%" height="auto">
                        </div>
                        <div class="text-decr col-6">
                            <h6>text1</h6>
                            <h6>{{productItem.Nom_A}}</h6>
                            <h6>{{productItem.Prix | currency: "EUR"}}</h6>
                        </div>
                        <div class="col-2 align-self-center">
                            <i class="fa-solid fa-x">---</i>
                        </div>
                    </div>
                </ng-container>
                <div style="display: flex; justify-content: end;gap: 15px;padding-right: 10px;">
                    <input type="text" class="champAjout px-3" placeholder="Code promo">
                    <app-button cls="btnAjout" text="AJOUTER"></app-button>
                </div>
                <hr>
                <div class="px-2">
                    <div class="row justify-content-between  my-3">
                        <span class="col-4">Total</span>
                        <span class="col-4">{{grandTotal | currency: "EUR"}}</span>
                    </div>
                    <div class="row justify-content-between  my-3">
                        <span class="col-4">Réduction</span>
                        <span class="col-4">-</span>
                    </div>
                    <div class="row justify-content-between  my-3">
                        <span class="col-4">Taxe</span>
                        <span class="col-4">-</span>
                    </div>
                </div>
                <hr>
                <div class="px-2">
                    <div class="row justify-content-between my-3 pb-4">
                        <span class="col-4">Total</span>
                        <span class="col-4">{{grandTotal | currency: "EUR"}}</span>
                    </div>
                </div>
                <hr>
                <div class="px-2 pb-4">
                    <div class="d-flex justify-content-center gap-5">
                        <app-button cls="btn btn-secondary" routerLink="/eshop" text="RETOURNER VERS LA CATALOGUE"></app-button>
                        <app-button cls="btn btn-success" text="CONTINUER VERS LE PAYEMENT"></app-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>