<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Mode de payment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>choisissez votre mode de payment ci-dessous</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" routerLink="/register" data-bs-dismiss="modal">S'inscrire d'abord ou Se connecter ici</button>
                <button type="button" class="btn btn-primary" routerLink="/pagePayement" data-bs-dismiss="modal">Achat sans compte</button>
            </div>
        </div>
    </div>
</div>