.btn-reg {
    height: 50px;
    border-radius: 30px;
    padding: 12px;
    outline: none;
    border-radius: 38px;
    border: none;
    background-color: #9E91B7;
    font-family: beyeno;
    color: #2d245c
}