<header>
    <div class="container">
        <div class="grp-logohead">
            <a href="index.html"><img src="../../../assets/IllustrationsLogo/Allpages/icon_SAYNA.png" alt="Logo sayna" width="27px" height="auto"></a>
            <a href="index.html"><img src="../../../assets/IllustrationsLogo/Allpages/icon_x.png" alt="Logo incon X"></a>
            <a href="index.html"><img src="../../../assets/IllustrationsLogo/Allpages/icon_MARVEL.png" alt="Logo MARVEL" width="70px" height="auto"></a>
        </div>
        <div class="grp-navigation">
            <a routerLink="home" routerLinkActive="active" class="link">Accueil</a>
            <a routerLink="wakanda" routerLinkActive="active" class="link">WAKANDA</a>
            <a routerLink="enigme" routerLinkActive="active" class="link">ENIGME</a>
            <a routerLink="eshop" routerLinkActive="active" class="link">E-SHOP</a>
            <a routerLink="moncompte" routerLinkActive="active" class="link">MON COMPTE</a>
        </div>
    </div>
</header>