<div class="slideALL">
    <div class="bloc-aside">
        <div class="band-right">

        </div>
        <div class="asideleft">
            <div class="iconesAssideLeft">
                <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/icon_facebook.png" alt="Logo facebook">
                </a>
                <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/icon_instagram.png" alt="Logo instagram">
                </a>
                <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/icon_twitter.png" alt="Logo twitter">
                </a>
                <a href="http://www.marvel-cineverse.fr/pages/mcu/encyclopedie/personnages/black-panther.html"> <img src="../../../assets/IllustrationsLogo/Allpages/icon_tiktok.png" alt="Logo tiktok">
                </a>
            </div>
        </div>
    </div>