<div class="container container-largeur mt-5">
    <div class="row">
        <div class="d-flex justify-content-between">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a routerLink="/eshop">eshop</a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page" routerLink="/cart">

                        Panier

                    </li>
                </ol>

            </nav>

        </div>
    </div>
    <ng-container *ngIf="productAdd != 0">

        <div class="recap">
            <p>Récapitulatif du panier</p>
        </div>

        <ng-container *ngFor="let productItem of productAdd">
            <div class="d-flex justify-content-between align-items-center containairPanier my-4">
                <div class="product d-flex align-items-center" style="width: 60%;">
                    <img width="30%" [src]="productItem.imageUrl" alt="">
                    <div class="mx-4">
                        <h5> {{productItem.Nom_A}}</h5>
                        <span>Numéro de produit x000 {{productItem.id}}</span>
                    </div>
                </div>
                <div class="price">
                    <p>{{productItem.Prix | currency: "EUR"}}</p>

                </div>
                <div class="qte bg-secondary">
                    <i class="fa-solid fa-minus mx-4"></i><span class="fs-4">1</span>
                    <i class="fa-regular fa-2x fa-plus mx-4"></i>
                </div>
                <div class="delete px-4">
                    <i class="fa-solid fa-2x fa-xmark" (click)="suppromerItem(productItem.id)"></i>
                </div>
            </div>
        </ng-container>
        <div class="sous-total container-largeur">
            <h4 class="float-end">
                <strong>Sous Total : {{grandTotal | currency: "EUR"}}</strong>
            </h4>

        </div>

        <section class="container container-largeur d-flex justify-content-end mx-auto my-5">
            <app-button cls="btn-reg mx-2 px-3" text="Continuer mes achats" routerLink="/eshop"></app-button>
            <app-button cls="btn-reg mx-2 px-3" text="Passer commande" routerLink="/commande">
            </app-button>
        </section>
    </ng-container>
    <br><br>
    <div class="container container-largeur containairPanier my-5" *ngIf="productAdd == 0">
        <h1 class="text-center">Ton panier est vide</h1>
        <div class="container-largeur text-center">
            <app-button cls="btn achat mx-2 px-3" text="Faire des Achats" routerLink="/eshop"></app-button>
        </div>
    </div>